Package: enigma2-plugin-extensions-autofavourites
Version: 0.2.5
Description: Generate favourites based on a config file
Section: base
Priority: optional
Maintainer: lazaronixon
License: GNU General Public License
Architecture: mips32el
OE: enigma2-plugins
Homepage: http://github.com/lazaronixon/autofavourites
Source: http://github.com/lazaronixon/autofavourites
Depends: enigma2
